.check-box {
    display        : flex;
    justify-content: flex-start;
    align-items: center;
    padding        : 2rem 0;
}

.form-check-label {
    font-weight: normal;
    font-size  : 1.35rem;
    line-height: 2.4rem;
    color      : var(--gray-1);
    margin-left: 0.8rem;
    line-height: 2rem;
}

.form-check-input {
    width      : 1.6rem;
    height     : 1.6rem;
    font-weight: normal;
    font-size  : 1.6rem;
    line-height: 2.4rem;
    border-radius   : 0.26rem;
    background-color: transparent;
    border    : 1px solid var(--gray-1);
    appearance: none;
}

.form-check-input:checked {
    background-color   : var(--black);
    border-color       : var(--black);
    background-image   : url(../../../../Assets/check.svg);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : contain;
}

